<form class="form">

  <mat-form-field class="form-field">
    <label>
      <input
        type="text"
        placeholder="Select Raid"
        matInput
        [formControl]="selectedRaid"
        (ngModelChange)="raidChanged()"
        [matAutocomplete]="autoRaid">
    </label>
    <mat-autocomplete #autoRaid="matAutocomplete">
      <mat-option *ngFor="let raid of raids" [value]="raid.raid">
        {{raid.raid}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="form-field">
    <label>
      <input type="text"
             placeholder="Select Boss"
             matInput
             [formControl]="selectedBoss"
             (ngModelChange)="bossChanged()"
             [matAutocomplete]="autoBosses">
    </label>
    <mat-autocomplete #autoBosses="matAutocomplete">
      <mat-option *ngFor="let boss of filteredBosses | async" [value]="boss.boss">
        {{boss.boss}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<table mat-table [dataSource]="dataSource" class="table">

  <!-- Name Column -->
  <ng-container matColumnDef="item_name">
    <th mat-header-cell *matHeaderCellDef> Item Name</th>
    <td mat-cell *matCellDef="let element">
      <a href="https://www.classic.wowhead.com/item={{element.wowheadid}}"
         data-wowhead="item={{element.wowheadid}}">{{element.item_name}}</a>
    </td>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rname">
    <th mat-header-cell *matHeaderCellDef> Player Name</th>
    <td mat-cell *matCellDef="let element"> {{element.rname}} </td>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="prioritynb">
    <th mat-header-cell *matHeaderCellDef> Rating</th>
    <td mat-cell *matCellDef="let element"> {{element.prioritynb}} </td>
  </ng-container>

  <!--  &lt;!&ndash; checkbox Column &ndash;&gt;-->
  <!--  <ng-container matColumnDef="distributed">-->
  <!--    <th mat-header-cell *matHeaderCellDef>has item</th>-->
  <!--    <td mat-cell *matCellDef="let element">-->
  <!--      <mat-checkbox [checked]="isDistributed(element)" [disabled]="true"-->
  <!--                    (change)="switchDistributed(element, $event.checked)"></mat-checkbox>-->
  <!--    </td>-->
  <!--  </ng-container>-->


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
