<p>
  <mat-toolbar color="primary">
    <button mat-button class="selectionButton" routerLink="/home" routerLinkActive="active">SPARKS LOOT</button>
    <span class="spacer"></span>
    <button mat-button class="selectionButton" routerLink="/raid" routerLinkActive="active">
      Raid View
    </button>
    <button mat-button class="selectionButton" routerLink="/item" routerLinkActive="active">
      Item View
    </button>
    <button mat-button class="selectionButton" routerLink="/player" routerLinkActive="active">
      Player View
    </button>
  </mat-toolbar>
</p>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
