<form class="form">
  <mat-form-field class="form-field">
    <label>
      <input type="text"
             placeholder="Select Item"
             matInput
             [formControl]="selectedItem"
             (ngModelChange)="inputChanged()"
             [matAutocomplete]="auto">
    </label>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of items" [value]="item.Name">
        {{item.Name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div *ngIf="selectedItem.value" style="padding: 20px">
  <span style="float: right">
    <a href="https://www.wowhead.com/item={{selectedItemID}}"
       data-wowhead="item={{selectedItemID}}">{{selectedItem.value}}</a>
  </span>

  <table mat-table [dataSource]="dataSource" class="table">

    <!-- Name Column -->
    <ng-container matColumnDef="playerName">
      <th mat-header-cell *matHeaderCellDef> PlayerName</th>
      <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating</th>
      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
